body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
}
.darkmode
{
    background: #000000;
    color: #ffffff;
    & th, & td,  & #alfakeret, & header, & #reset
    {
        border-color: #ffffff;
    }
    & .ikon, & #reset {
        filter: invert(1);
    }
}
img{
    user-select: none;
}


h1
{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

#email{
    margin-right: 5px;
}

table {
    margin-top: 10px;
}

th
{
    width: 10%;
    font-size: 14pt;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: normal;
    
}

td
{
    width: 100vw;
    font-size: 20pt;
    border: solid black 1px;
}

#toggleColorschemeButton
{
    margin: 25px;
    width: 150px;
}
header
{
    border: solid black .5px;
    border-left: 0px;
    border-right: 0px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
}
.ikon
{
    width: 20px;
    height: 20px;
}


#alfa{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}
#alfakeret
{
    width: 75px;
    height: 75px;
    border: solid black 1px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
}
#adatok{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    & p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px 0;
    }
}

.telefon
{
    margin-left: 40px;
    
}
.nap
{
    border: solid 2px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
}

#setmode_container{
    border-radius: 100px;
    height: 38px;
    width: 64px;
    background-color: black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px white;
    box-shadow: 0px 0px 8px 0px white;
    margin-left:15px;
}
#csuszka{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-color: white;
    transition: margin 0.4s;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black !important;
}
#baldiv
{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
}
#kozdiv
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#jobbdiv
{
    text-align: right;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
#reset{
    padding: 0;
    margin: 0;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 0px black;
}

#reset img{
    width: 25px;
    height: 25px;
}
#orarend
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.felsosor
{
    font-size: 20pt;
    font-weight: bold;
}

#tema{
    margin:0 20px;
    font-size: 20px;
}