body {
    background-image: url(pics/tuff-bg.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    & *{
        color: white !important;
        border-color: white !important;
    }
}

table {
    margin: 10px;
    height: 100%;
    margin: 0 !important;
    border-collapse: collapse;
    & tr:first-child *{
        border-top: 0px !important;
    }
    & th:first-child {
        border-left: 0px !important;
    }
    & tr:last-child *{
        border-bottom: 0px !important;
    }
    & td:last-child, & th:last-child{
        border-right: 0px !important;
    }
}

#elsodiv {
    margin: 20px auto;
    padding: 15px;
    height: 60vh;
    border: 2px solid white;
    background-color: #00000049;
    width: fit-content;
}

select, option {
    color: black !important;
}

svg *{
    color: black !important;
}